@inherits LayoutComponentBase


<ModalContainer />
<ToastContainer />

<div>    
    <NavMenu />

    <div class="page-wrapper">
        <div class="container-fluid mt-2">
            @Body
        </div>
    </div>
</div>
 